body{
    background-color: #333399;
    color: white;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}

.glavniKontejner{
    display: flex;
    border: 1px solid white;
}

select{
    max-width:100px;
}
.sideForm{
    border: 1px solid black;
    background-color: #190061;
    flex-basis: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}
.mainForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;    
    background-color: #190061;
    flex-grow: 1;
}
.album{
    width: 200px;
    height: 115px;
    max-height: 115px;
    flex-grow: 1;
}
